body{
    scroll-behavior: smooth;
}

/*---------------------------------------------------header-------------------------------------------------------------------------*/
.header{
    margin: 0 !important;
    background-color: #0f1056;
    padding: 1%;
    z-index: 9999;
    transition: top 0.3s;
}

.contact-dt{
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    padding: 0 !important;
    color: white;
}

.contact-dt p{
    /*font-size: 20px;
    font-weight: normal;*/
    margin-bottom: 0.5rem;
}

.nav-sec{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;*/
    padding: 0 !important;
    display: flex;
    justify-content: end;
    align-items: end;
}

.nav-sec nav{
    display: flex;
    justify-content: space-between;
}

.nav-sec nav a{
    text-decoration: none;
    color: white;
    /*font-size: 20px;
    font-weight: normal;*/
    padding-left: 10px;
    padding-right: 10px;
}

.nav-sec nav a:hover{
    background-color: white;
    color: #0f1056;
}

.canva-custom{
    width: 60% !important;
}

.sidenav{
    display: grid;
}

.sidenav a{
    padding-top: 15px;
    padding-bottom: 15px;
}


/*---------------------------------------------------profile-------------------------------------------------------------------------*/

.profile-row{
    /*padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
    /*margin-left: 20px !important;
    margin-right: 20px !important;*/
    transition: top 0.3s;
}

.profile-card{
    margin-top: 1% !important;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 2% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-title-col{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.profile-left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

.profile-right-col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% !important;
    margin: 0 !important;
}

.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img{
    max-width: 80%;
    height: auto;
}

.profile-right-col p{
    /*font-size: 20px;
    font-weight:normal;*/
    margin-bottom: 0px;
}

/*-----------------------------------------------------Education-----------------------------------------------------------------------*/

.edu-row{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.edu-title-col{
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.edu-card{
    margin-top: 1% !important;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 2% !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------Experiances----------------------------------------------------------------------------*/

.exp-row{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.exp-title-col{
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.exp-card{
    margin-top: 1% !important;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 2% !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------Project-------------------------------------------------------------------------------*/

.project-row{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.project-title-col{
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.project-card{
    margin-top: 1% !important;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 2% !important;
    display: grid;
    justify-content: center;
    align-items: center;
}


/*---------------------------------------------Personal Info-------------------------------------------------------------------------------*/

.perinfo-row{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.perinfo-title-col{
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.perinfo-table {
    border-collapse: collapse; 
    width: 100%;
    border-radius: 20px;
}

.perinfo-table th, .perinfo-table td {
    border: 1px solid #e0e0e0; 
    padding: 8px;
}

/*.perinfo-table{
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}*/

/*.perinfo-table tr td{
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}*/


/*---------------------------------------------Skills-------------------------------------------------------------------------------*/

.skill-row{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;*/
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.skill-card{
    margin-top: 1% !important;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 2% !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

.skill-card h6{
    margin-bottom: 0%;
}

.skill-title-col{
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.skill-left{
    display: flex;
    justify-content: start;
    align-items: center;
}

.skill-right{
    padding-top: 10px;
    margin-bottom: 3%;
}

/*---------------------------------------------footer-------------------------------------------------------------------------------*/

.footer{
    /*padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #0f1056;
    color: white;
    margin-left: -16px !important;
    margin-right: -16px !important;*/

    margin-left: -16px !important;
    margin-right: -16px !important;
    background-color: #0f1056;
    padding: 1%;
    color: white;
}

.socialmedia a{
    text-decoration: none; 
    color: white;
    padding: 0;
}

.socialmedia a:hover{
    color: white;
    text-shadow:  0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.Ravishan{
    text-decoration: none; 
    color: white;
}

.Ravishan:hover{
    color: white;
    text-shadow:  0 0 10px white, 0 0 20px white, 0 0 30px white;
}